{{#if resume.work.length}}
		<section class="position">
			<h2>Work Experience</h2>
		{{#group resume.work by="name"}}
			{{#each items}}
				{{#if @first}}
					<h3>
							{{#if url}}
								<a target="_blank" rel="noopener" href="{{url}}">{{../value}}</a>
							{{else}}
								{{../value}}
							{{/if}}
					</h3>
				{{/if}}
			{{#if positions}}
				{{#each positions}}
					{{> position}}
				{{/each}}
			{{else}}
				{{> position}}
			{{/if}}
				{{/each}}
		</section>
	{{/group}}
{{/if}}